body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #ffcc00;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #333;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #666;
}

.intro {
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.set {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.set:hover {
    transform: scale(1.05);
}

.set img {
    width: 100%;
    border-radius: 10px;
}
#f1-ferrari {
    margin-bottom: 60px;
}

footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
body {
    background: linear-gradient(135deg,#ff0000, #f4f4f4, #ffcc00, #ff0000);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.set {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow for depth */
    transition: transform 0.3s ease-in-out;
}
